# No generated code files
*.decl.h
*.def.h
*.pb.C
*.pb.h
*.pb.cc

# No generated binaries
*.o
charmrun
loimos
loimos-*
*.out

# No temporary versions of files
*.old.*
*.new.*

.DS_Store
settings.json
.vscode
*.dSYM

# Large data files shouldn't be commited
data/populations/coc/*.csv
data/populations/??/*.csv # real data
*.cache
