# No generated code files
*.decl.h
*.def.h
*.pb.C
*.pb.h
*.pb.cc

# No generated binaries
*.o
charmrun
loimos

# No temporary versions of files
*.old.*
*.new.*

.DS_Store
settings.json
.vscode
*.dSYM
.ipynb_checkpoints/
__pycache__/

data/populations/coc/locations.csv
data/populations/coc/people.csv
data/populations/coc/visits.csv

*.cache
*.heuristic
