# No generated code files
*.decl.h
*.def.h
*.pb.cpp
*.pb.h
*.pb.cc

# No generated binaries
*.o
charmrun
loimos
loimos-*
*.out
*core.*

# No generated images
*.png
*.pdf

# No temporary versions of files
*.old.*
*.new.*

.DS_Store
settings.json
.vscode
*.dSYM

# Large data files shouldn't be commited by default
# If you really want to add a one to the repo, though, use
#   git add --force -- <file0> <file1> ...
#data/populations/coc/*.csv
#data/populations/??/*.csv # real data
data/populations/*
*.csv
*.cache
*.pdf
*__pycache__*
